.Titulo {
  margin-top: 3%;
  margin-left: 5%;
}

.Cabecalho{
  background-color: #161b22;
  margin: 0% 0% auto 0%;
  color: aliceblue;
  text-align: center;
}

.Rodape{
  background-color: #161b22;
  color: aliceblue;
  text-align: center;
  margin: auto 0% 0% 0%;
  padding: 1%;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #0d1117;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: none;
  justify-content: none;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
